@media (min-width: 0px) {
	html {
	    font-size: 12px;
	}
	/*.icon {
		display:none !important;
	}*/
}

@media (min-width: 576px) {
	html {
	    font-size: 12px;  
	}
	/*.icon {
		display:none !important;
	}*/
}

@media (min-width: 800px) {
	html {
	    font-size: 12px;
	}

}

@media (min-width: 768px) {
	.header .icon {
		/*color: red !important;
		display:none !important;*/
	}
}

/*
@color-blue: #32b2e6;

 <div class = 'superheart'>
                <button class="heart-button">
                  <i class="fa fa-heart white indent" aria-hidden="false"></i>
                </button>
                <img src="img/img2.jpg">
                <div class='grey'>Esteban Montoya</div>
              </div>



*/

/*@font-face default-my {
	toff: url(./font);
	wow: ;
}*/

.band {
	background-color: black;
	width:100%;
	height: 6rem;
	font-family: default-my;

}

.white {
	color:white;
	display:inline-block;
}

.grey {
	color:grey;
}

.orange {
	color:orange;
	display:inline-block;
}

.grey {
	color:grey;
	display:inline-block;
}

#rowOfElements {
	padding-top: 3rem;
    padding-left: 6rem;
}

/*@media (min-width: 1180px) {*/
@media (min-width: 1000px) {
	.custom-navbar {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}

	.custom-navbar .navbar-toggler {
	    display: none;
	}
	.custom-navbar .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
    .custom-navbar .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}

	.custom-navbar .navbar-brand {
		margin-left: 147px;
	}

	.content .header .headertext { /*эти стили не работают*/
	font-size: 1rem;
    }

    .content .header .flow {
     margin-left: 0rem;
    }
}


.custom-navbar {
	padding: 9px 12px;
}

.navbar .icon {
	color:grey;
}

.navbar .navbar-brand {
	letter-spacing: 1px;
}

.navbar .navbar-brand .white {
	margin-left: -4px;
    letter-spacing: 1.5px;
}

.navbar .navbar-brand .white {
	margin-left: -4px;
    letter-spacing: 1.5px;
}

.navbar .navbar-nav .nav-item{
    width: 10rem;
    /*margin-right: 0.8rem;*/
}

.navbar .navbar-nav .journal{
    margin-right: 2rem;
}



.navbar .navbar-nav .esteban {
	margin-left: 1.5rem;
} 


/*
.navbar .icon:hover {	
	color:white;
}
*/
.navbar .text-icon {
	font-style: arial;
	color:grey;
}

/*.navbar .text-icon:hover {
	color:white;
}*/

.navbar .menu-button:hover .icon,
.navbar .menu-button:hover .text-icon {
	color:white;
}

.navbar .menu-button {
	border: 0;
    background: none;
    box-shadow: none;
    background-color: black;
}

.navbar .searchbar-wrapper {
	position: relative;
	margn-right: 7.5rem !important;
}

.navbar .searchbar-wrapper .searchpanel {
	width:220px;
	/*background-image: url('E:/Docs/mockup hicasting (img to html)-20180114T164143Z-001/mockup hicasting (img to html)/zoom.png');
	background-repeat: no-repeat;
    background-position: 165px;  */
    background-color: black;  
    /*background-size: 10%;*/
    border-radius: 8px;
    color:grey;
    border: 1px solid grey;
    padding: 5px 20px 5px 10px;
    margin-right:7.5rem;	
}

.navbar .searchbar-wrapper .icon {
	position: absolute;
    right: 98px;
    top: 31%;
    font-size: 1rem;
    color: #fff;
}

.navbar .menu-button .menu-button-icon {
    /*margin-left:1rem;*/
    margin-top: 0.8rem;
    /*font-style: arial;*/
}

.navbar .menu-button .menu-button-text {
	font-style: arial;
	font-family: Open Sans;
	/*font-size: 	1.4rem;*/
}

.navbar .heart-button {
    margin-top:0.4rem !important;
    background-color: black;
    border:none;
}

.navbar .navbar-nav .superheart {
	width: 15rem;
	display:inline-block;
}

.navbar .right-buttons {
    margin-top: 0.4rem !important;
    background-color: black;
    border:none;
}

.navbar .right-buttons .onhoverwhite:hover {
	color:white;
}


.navbar .nav-first-list{
	margin-right: 2rem;
}


.content .card_style {
	padding-left:0px;
	padding-right:0px;
}

.content .header .headertext {
	font-size: 2.5rem;
	display:inline-block;
	font-weight: bold;
	color:grey;
	padding-left:14px;
	padding-right: 15px;
	font-size: 2.5rem;
    margin-right: -0.5rem;
    letter-spacing: -1.5px;
}

.content .header .flow {
    margin-left: 13rem;
    margin-top: 0.7rem;
    letter-spacing: -2px;
}

.content .header .header_selector {
      margin-left: 14.7rem;
      border: 0px solid white;
      color:grey;	
}


.content .header .resettext {
	color: grey;
    padding-left: 11px;
    display: inline-block;
    margin-top: 1rem;
    letter-spacing: 0.8px;
}
.content .header .resetbtn {
	background-color: white;
    border: 1px solid grey;
    padding: 5px;
    margin-left: 1.5rem;
}

.content .headline {
	border-bottom: 2px solid grey;
	font-size:1.2rem;
	padding-left: 0;
	padding-right:15px;
}

.content .cards-list .card-item .image1 {
   width: 75px;
    height: 75px;
}

.content .cards-list .card-item .image1_box {
	position:relative;
	margin-left: 9rem;
    margin-top: 6rem;
}

.content .cards-list .card-item .image1_inscription  {
	background-color:#f7d089;
	color:black;
	width: 75px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 55px;
    text-align: center;
}

.content .card__user {
	margin-left: 1.6rem;
    margin-top: 2rem;
}

.content .card__user .card__username {
	font-size:1.4rem;
	font-weight: bold;
	color:black;
	padding-top: 18px;
	line-height: 1.3;
}

.content .card__user .card__profession {
	color:grey;
	font-weight: bold;
	font-size:1.1rem;
}

.content .card__user .card__address {
	padding-top: 3px;
}

.content .card__user .card__selector {
	margin-top: 24px;
    font-size: 1.15rem;
    width: 162px;
    height: 25px;
}

.content .card__stat .card__details {
  
}

.content .head-card-stat {
	font-weight: bold;
	font-size:1.2rem;
	color:#324BE5 !important;
}

.content .card__stat .card__stat-list {
	padding: 0;
	list-style: none;
	margin: 0;
}

.content .card__stat .card__stat-list li {
	margin: 0;
}

.content .card__stat .card__stat-list li .card__stat-item__name {
	padding: 0;
}

.content .card__stat .card__stat-list li .card__stat-item__value {
	padding: 0;
}

.content .card__stat .card__stat-list .card__det-list {
	padding:0px;

}

.content .card__stat .card_stat-item__button {
	background-color: #32b2e6;
	font-weight: bold;
	color:white;
	font-size: 1.4rem;
	margin-top: 25px;
	padding-bottom: 5px;
}

.content .card__details {
	padding:0px;
}

.content .card__details .card__det-list .bold-style  {
	font-weight:bold;
}

.content .card__details .card__det-list .card__payments_request {
	margin-top:10px;
	margin-bottom:10px; /*не работает*/
}
/*
 #seachinput.clickedclass  {
	background-color: black; 
	background-image: none;
}*/

/*.clickedclass {
	background-color: white; 
	color:black;
}*/
 #seachinput:focus {
 	background-color: red;
 }

.indent {
	color:grey;
}

.indent:hover {
	color:white; 
    }

 .iconActive {
 	display:inline-block !important;
 }

